<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1" name="viewport">

	<link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
	<link rel="stylesheet" href="assets/demo.css" media="all">
</head>
<body>
	<div class="wrapper" id="vue-app" v-cloak>
		<h1>vue-blob-forms</h1>

		<form name="demo" v-form>
			<table class="demo" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>Type</th>
						<th>Field</th>
						<th>Touched</th>
						<th>Changed</th>
						<th>Valid</th>
						<th>Error</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label for="demo-dateField">Date</label>
						</td>
						<td>
							<input v-model.trim="fields.date" type="date" v-bind:min="dateMin" v-bind:max="dateMax" required name="dateField" id="demo-dateField" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'dateField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'dateField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'dateField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'dateField')">{{ formErrors('demo', 'dateField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-emailField">Email</label>
						</td>
						<td>
							<input v-gravatar v-model.trim="fields.email" type="email" placeholder="user@domain.com" required name="emailField" id="demo-emailField" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'emailField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'emailField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'emailField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'emailField')">{{ formErrors('demo', 'emailField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-numberField">Number</label>
						</td>
						<td>
							<input v-model.number="fields.number" type="number" placeholder="#" v-bind:min="numMin" v-bind:max="numMax" required name="numberField" id="demo-numberField" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'numberField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'numberField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'numberField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'numberField')">{{ formErrors('demo', 'numberField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-telField">Tel</label>
						</td>
						<td>
							<input v-model.trim="fields.tel" type="tel" placeholder="(123) 456-7890" minlength="10" required name="telField" id="demo-telField" v-phone />
						</td>
						<td>
							<span v-if="formTouched('demo', 'telField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'telField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'telField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'telField')">{{ formErrors('demo', 'telField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-textField">Text</label>
						</td>
						<td>
							<input v-model.trim="fields.text" type="text" maxlength="50" required name="textField" id="demo-textField" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'textField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'textField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'textField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'textField')">{{ formErrors('demo', 'textField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-textareaField">Textarea</label>
						</td>
						<td>
							<textarea v-model.trim="fields.textarea" maxlength="50" required name="textareaField" id="demo-textareaField"></textarea>
						</td>
						<td>
							<span v-if="formTouched('demo', 'textareaField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'textareaField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'textareaField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'textareaField')">{{ formErrors('demo', 'textareaField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-selectField">Select</label>
						</td>
						<td>
							<select v-model.trim="fields.select" required name="selectField" id="demo-selectField">
								<option value="">---</option>
								<option value="apple">Apple</option>
								<option value="banana">Banana</option>
								<option value="carrot">Carrot</option>
							</select>
						</td>
						<td>
							<span v-if="formTouched('demo', 'selectField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'selectField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'selectField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'selectField')">{{ formErrors('demo', 'selectField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-multiselectField">Multi-Select</label>
						</td>
						<td>
							<select v-model.trim="fields.multiselect" required name="multiselectField" id="demo-multiselectField" multiple>
								<option value="apple">Apple</option>
								<option value="banana">Banana</option>
								<option value="carrot">Carrot</option>
							</select>
						</td>
						<td>
							<span v-if="formTouched('demo', 'multiselectField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'multiselectField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'multiselectField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'multiselectField')">{{ formErrors('demo', 'multiselectField') }}</div>
						</td>
					</tr>
					<tr>
						<td>
							<label for="demo-beatleField">Custom</label>
						</td>
						<td>
							<input v-model.trim="fields.beatle" type="text" maxlength="50" required name="beatleField" data-validation-callback="validateBeatlesMovie" placeholder="Enter a Beatles movie." id="demo-beatleField" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'beatleField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'beatleField')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'beatleField')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'beatleField')">{{ formErrors('demo', 'beatleField') }}</div>
						</td>
					</tr>
					<tr v-if="showingToggle">
						<td>
							<label for="demo-toggLefield">Toggled</label>
						</td>
						<td>
							<input v-model.trim="fields.toggle" type="text" maxlength="50" required name="toggLefield" id="demo-toggLefield" />
						</td>
						<td>
							<span v-if="formTouched('demo', 'toggLefield')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo', 'toggLefield')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo', 'toggLefield')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-if="formErrors('demo', 'toggLefield')">{{ formErrors('demo', 'toggLefield') }}</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th scope="row">Form</th>
						<td></td>
						<td>
							<span v-if="formTouched('demo')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formChanged('demo')">Yes</span>
							<span v-else class="fg-black-light">No</span>
						</td>
						<td>
							<span v-if="formValid('demo')" class="fg-green">Yes</span>
							<span v-else class="fg-red">No</span>
						</td>
						<td>
							<div class="error-message" v-for="(error, field) in formErrors('demo')">
								<strong>{{ field }}:</strong><br>
								{{ error }}
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</form>

		<div class="demo--actions">
			<button v-on:click.prevent="validateForm('demo')" class="fg-white bg-pink bg-purple-hover">Check All</button>
			<button v-on:click.prevent="showingToggle = !showingToggle" class="fg-white bg-blue bg-purple-hover">Toggle Field</button>
		</div>
	</div><!--#vue-app-->

	<script src="assets/blob-phone.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
	<script src="assets/vue-blob-forms.min.js"></script>
	<script src="assets/demo.min.js"></script>

</body>
</html>